<div class="container">

<h2>Registrations</h2>
 

<label>Registration</label>



<form action="/insertReg" method="POST">

<input class="Input" type="text" name="Input " value=''placeholder="Registration Number" maxlength="100">
<br>
<br>
<button type="button " name="AddBTN" class="AddBTN ">Add</button>


</form>





<br>


<label >Town:</label>
<select name="Town" id='drop'>
  <option value="CA">Cape Town</option>
  <option value="CJ">Paarl</option>
  <option value="CAW">George</option>
  <option value="CL">Stellenbosch</option>
</select>

<div class="Output">

<ul>
  {{message}}
</ul>

</div>

</div>