<div class="container">

  <h2>Registrations</h2>


  <form action="/insertReg" method="POST">

    <input class="Input" type="text" name="Input" placeholder="Add registration number" pattern='[a-z]{2,3}\s\d{3}\W\d{3}|[a-z]{2,3}\s\d{2,3}'>
     


    <button type="button " name="AddBTN" class="AddBTN ">Add</button>


  </form>

  {{#if messages.info}}
  <div class="entry">
    {{messages.info}}
  </div>
  {{/if}}
  <br>
  <br>





  <form action="/towns" method="post">
    <div class='row'>
      <select name="Town">
        <option name="all" value="ca">ALL</option>
        <option name="Town" value="ca">Cape Town</option>
        <option name="Town" value="cj">Paarl</option>
        <option name="Town" value="caw ">George</option>
        <option name="Town" value="cl">Stellenbosch</option>
      </select>

    </div>
    <br>
    <br>


    <button class="button-primary Show" type="submit" name="button">SHOW</button>
  </form>

  <br>
  <br>

  <form action="/reset">
    <button class="button-primary Show" type="submit" name="button">Clear</button>
  </form>


  <br> {{#each register}}
  <div class="Output">
    <h5> {{registrationno}}</h5>
  </div>
  {{/each}}

</div>