<div class="container">

  <h2>Registrations</h2>


  <form action="/insertReg" method="POST">

    <input class="Input" type="text" name="Input"  placeholder="Add registration number" maxlength="100">
    
    
    <button type="button " name="AddBTN" class="AddBTN ">Add</button>


  </form>

    {{#if messages.info}}
    <div class="entry">
      {{messages.info}}
    </div>
    {{/if}}
<br>
<br>


  <form action="/towns" method="post">
    <div class='row'>
       <label class="radio inline">
        <input type="radio" name="Town" class="Town" value="all">
        <span class="label-body">All</span>
      </label>
      <label class="radio inline">
        <input type="radio" name="Town" class="Town" value="ca">
        <span class="label-body">Cape Town</span>
      </label>
      <label class="radio inline">
        <input type="radio" name="Town" class="Town" value="cj" >
        <span class="label-body">Paarl</span>
      </label>
      <label class="radio inline">
        <input type="radio" name="Town" class="Town" value="caw" >
        <span class="label-body">George</span>
      </label>
      <label class="radio inline">
        <input type="radio" name="Town" class="Town" value="cl">
        <span class="label-body">Stellenbosch</span>
      </label>
    </div>

    <br>
    <br>


    <button class="button-primary Show" type="submit" name="button">SHOW</button>
  </form>

  <br>
  <br>

  <form action="/reset">
    <button class="button-primary Show" type="submit" name="button">Clear</button>
  </form>


<br>
  
        {{#each register}} 
        <div class="Output">
    <h5> {{registrationno}}</h5> 
    </div>  
    {{/each}}

</div>