<div class="container">

<h2>Registrations</h2>
 

<label>Registration</label>



<form action="/insertReg" method="POST">

<input class="Input" type="text" name="Input " value=''placeholder="Registration Number" maxlength="100">
<br>
<br>
<button type="button " name="AddBTN" class="AddBTN ">Add</button>


</form>





<br>


<label >Town:</label>
<select name="Town" id='drop'>
  <option value="Cape Town">Cape Town</option>
  <option value="Paarl">Paarl</option>
  <option value="George">George</option>
  <option value="Stellenbosch">Stellenbosch</option>
</select>

<div class="Output">

<ul>
  
</ul>

</div>

</div>