body {
  padding-top: 10%;
  background-repeat: no-repeat;
}

.Input {
  width: 50%;
  border: 1px lightblue solid;
}


h1 {
  text-align: center;
  background-color: rgb(207, 187, 9);
  font-size: 72px;
  font-family:  "Times New Roman", Times, serif;
}

.Output {
  background: rgb(207, 187, 9);
  border: black 3px solid;
  border-radius: 10px;
  width: 10em;
  height: 50px;
  text-align: center;
  padding-top: 10px;
}

/* .AddBTN{
  padding-left: 50%;
} */